ion-content {
  --background: #EBF4E4;
}
ion-title {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center
}




ion-item {
  --padding-start: 0;
  --background: white;
}

ion-card-title {
  --color:black;
}

ion-label {
  --color:black !important;
}

.Card{
  display: flex;
  justify-content: center;
  text-align: center;
}