/*Color de fondo EBF4E4*/

ion-content {
    --background: #EBF4E4;
  }

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;               
  max-width: 400px;         
  height: 80vh;             
  margin: 20% auto;
  flex-direction: column;        
}

.container-img h1{
  font-style:italic;
    color: #3e382d;
    text-align: center;
    margin-top: 10%;

}