ion-tab-bar{
    --background: #b1d17d;
    border-color: #b1d17d;
}
ion-tab-button {
    --color-selected: red; // Color del ícono seleccionado
    --color: green; // Color del ícono no seleccionado
  }

