<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/Imagenes/error-not-found.png" alt="">
    <ion-card-header>
      <ion-card-title>ERROR</ion-card-title>
      <ion-card-subtitle>No se ha podido encontrar la página</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Revise su estado de conexión o recargue la página.
    </ion-card-content>
  </ion-card>
</ion-content>
