ion-content {
    display: flex;
    justify-content: center; /* Centra verticalmente*/
    align-items: center; /* Centra horizontalmente */
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 100%;
    padding: 32px; 
    height: 100%; 
}

.content-container h1 {
    font-weight: bold;
    padding-bottom: 5%;
    color: black;
}

.container-input {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    color: #333333;
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
}

ion-input{
    --border-radius: 15px !important;
    --background: white;
    --box-shadow: none;
    padding: 10px;
}

.button {
    --background: #62CD69;} 

ion-content {
        --background: #EBF4E4;
      }
