<ion-content [fullscreen]="true">

  <div class="content-container">
    <h1>Inicio de Sesión</h1>
  
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Usuario" type="text" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <div class="button-container">
      <ion-button class="button" expand="block" (click)="onLoginButtonPressed()">Iniciar sesión</ion-button>
      <ion-button class="button"expand="block" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
    </div>
  </div>

</ion-content>
