<ion-content [fullscreen]="true">

  <div class="content-container">
    <h1>Inicio de Sesión</h1>
  
    <div class="container-input" >
      <ion-input label="Nombre de usuario" labelPlacement="floating" fill="outline" type="text" [(ngModel)]="user" required></ion-input>
    </div>
    <div class="container-input">
      <ion-input label="Contraseña" labelPlacement="floating" type="password" fill="outline" [(ngModel)]="password" required></ion-input>
    </div>

    <div class="button-container">
      <ion-button class="button" expand="block" (click)="onLoginButtonPressed()">Iniciar sesión</ion-button>
      <ion-button class="button"expand="block" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
    </div>
  </div>

</ion-content>
