<ion-content [fullscreen]="true">

  <div class="content-container">
    <h1 style="font-weight: bold; padding-bottom: 5%;">Registro</h1>
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Nombre de usuario" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Correo electrónico" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Contraseña" type="password"></ion-input>
      </ion-item>
    </div>

    <div class="button-container">
      <ion-button class="button" expand="block" (click)="onRegisterButtonPressed()">Crear cuenta</ion-button>
    <ion-button class="button" expand="block" (click)="onLoginButtonPressed()">¿Ya tienes una cuenta? Inicia sesión</ion-button>
    </div>
  </div>
</ion-content>
