<ion-content [fullscreen]="true">

  <div class="content-container">
    <h1>Registro</h1>

    <div class="container-input" >
      <ion-input label="Nombre de usuario" labelPlacement="floating" fill="outline" type="text" required></ion-input>
  
      <ion-input label="Correo electrónico" labelPlacement="floating"fill="outline" type="email" required></ion-input>
      
      <ion-input label="Contraseña" labelPlacement="floating" type="password" fill="outline" required></ion-input>
    </div>

    <div class="button-container">
      <ion-button class="button" expand="block" (click)="onRegisterButtonPressed()">Crear cuenta</ion-button>
    <ion-button class="button" expand="block" (click)="onLoginButtonPressed()">¿Ya tienes una cuenta? Inicia sesión</ion-button>
    </div>
  </div>
</ion-content>
