ion-content {
    --background: #EBF4E4; /* Define el color de fondo usando una variable de Ionic */
  }
  
ion-title {
    text-align: center; /* Forza el centrado del texto */
    width: 100%; /* Asegura que el título tome todo el ancho */
    display: flex;
    justify-content: center; /* Asegura que el texto se centre dentro del ancho disponible */
  }

