<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biblioteca</ion-title>
    </ion-toolbar>
  </ion-header>

<!--Card-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a nuestra Biblioteca!</ion-card-title>
      <ion-card-subtitle>Acá encontrarás información sobre de tus cultivos favoritos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <!--n/a-->
    </ion-card-content>
  </ion-card>

  <!--Búsqueda-->
  <ion-searchbar></ion-searchbar>

  <img alt="En Proceso" src="assets/Imagenes/Working.jpg" style="margin-left: 35%; max-width:30%;" />
  <h2 style="text-align: center;">Trabajando Para Usted</h2>


</ion-content>
